bootstrap.servers=telegram-news-source.servicebus.windows.net:9093
group.id=FlinkExampleConsumer
request.timeout.ms=60000

sasl.mechanism=PLAIN
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="$ConnectionString" password="Endpoint=sb://telegram-news-source.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=qvkwsGiCCBumM/L+iYs5J3djcmau6qitG+AEhFhJQU0=";
